section {
    width: 100%;
    padding: 0;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
}

.section_header {
    background-color: #D8585C;
    height: 10vh;
    color: #FFFFFF;
    text-align: center;
}

/* Splash Section */
.splash {
    background-image: url("../img/background.jpg");
    height: 80vh;
}

/* What Is Section */
.what {
    background-color: #FFFFFF;
    height: 30vh;
}

/* Skills Section */
.skills {
    background-color: #f4f5f9;
    height: 100vh;
}

/* Work Section */
.work {
    background-color: #FE4B74;
    height: 100vh;
}
.box {
    background-color: grey;
    height: 150px;
}

/* Team Section */
.team {
    background-color: #FE4B74;
    height: 100vh;
}

/* Contact Section */
.contact {
    background-color: #FE4B74;
    height: 100vh;
}

/* Footer Section */
.footer {
    background-color: #FE4B74;
    height: 30vh;
}
