/*=============================================================================
    COMMON STYLE
=============================================================================*/
@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGroteskWeb-Light.woff');
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGroteskWeb-Regular.woff');
    font-weight: bold;
}

body {
    color: #6e6e6e;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'FoundersGrotesk';
}

body h1, h2, h3 {
    letter-spacing: 4px;
}

body h4, h5, h6 {
    letter-spacing: 3px;
}

section {
    padding: 5% 0;
    text-align: center;
}

hr.title-divider {
    border-top: 3px solid #6e6e6e;
    color: #6e6e6e;
    padding-bottom: 5%;
    width: 200px;
}

hr.subtitle-divider {
    border-top: 3px solid #6e6e6e;
    color: #6e6e6e;
    padding-bottom: 5%;
    width: 164px;
}

div.title-banner {
    background-color: #d8585c;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.subtitle {
    padding: 5% 0 1% 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.bg-image {
    width: 100%;
}

.tleft {
    text-align: left;
}

.gf-button {
    background-color: #d8585c;
    border: none;
    color: white;
    padding: 10px 20px;
    letter-spacing: 2px;
}

/*=============================================================================
    INTRO SECTION
=============================================================================*/
section.intro p {
}

p.intro-text {
    font-size: 27px;
}

p.intro-text-bold {
    font-size: 30px;
    font-weight: bold;
}

div.small-logo {
    text-align: center;
    padding: 40px;
}

div.small-logo img {
    width: 100%;
}

/*=============================================================================
    SKILLS SECTION
=============================================================================*/

section.skills {
    background-color: #f7f7f7;
}

/*=============================================================================
    WORK SECTION
=============================================================================*/
section.work {
    padding: 0;
    background-color: #ebebeb;
}

.work-box {
    width: 100%;
    height: 245px;
    color: white;
    padding-top: 40%;
    background-repeat: no-repeat;
}

.work-box-empty {
    width: 100%;
    height: 245px;
}

.work-offwhite {
    background-color: #F7F7F9;
}

.work-lightgrey {
    background-color: #E8E8E8;
}

.work-grey {
    background-color: #d1d1d1;
}

.work-redgrey {
    background-color: #EFE4E4;
}

.work-twojacks {
    background-image: url("../img/work/twojacks.png");
}

.work-salesrabbit {
    background-image: url("../img/work/salesrabbit.png");
}

.work-typhoom {
    background-image: url("../img/work/typhoom.png");
}

.work-acrodoodle {
    background-image: url("../img/work/acrodoodle.png");
}

.work p {
    line-height: .5em;
    font-weight: bold;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/*=============================================================================
    TEAM SECTION
=============================================================================*/
section.team {
    background-color: #dedede;
}

hr.profile-divider {
    border-top: 3px solid #6e6e6e;
    color: #6e6e6e;
    padding-bottom: 5%;
    width: 100px;
}

/*=============================================================================
    CONTACT SECTION
=============================================================================*/
section.contact {
    background-color: #d1d1d1;
}

.gf-form {
    background-color: #cccccc;
    border: none;
    border-bottom: 1px solid #b0b0b0;
    padding: 10px 20px;
    width: 100%;
}

.gf-form:last-child {
    border: none;
}

.contact-info {
    font-size: 13px;
    line-height: 8px;
}

.contact-error {
    color: #d8585c;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

