/*=============================================================================
    COMMON STYLE
=============================================================================*/
@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGroteskWeb-Light.woff');
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGroteskWeb-Regular.woff');
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGroteskTextWeb-Semibold.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGroteskTextWeb-RegularItalic.woff');
    font-style: italic;
}

body {
    color: #6e6e6e;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'FoundersGrotesk';
}

body h1, h2, h3 {
    letter-spacing: 4px;
}

body h4, h5, h6 {
    letter-spacing: 3px;
}

section {
    padding: 5% 0;
    text-align: center;
}


hr.title-divider-main {
    border-top: 3px solid #6e6e6e;
    color: #6e6e6e;
    padding-bottom: 5%;
    width: 200px;
    margin-bottom: 0;
}

hr.title-divider {
    border-top: 3px solid #6e6e6e;
    color: #6e6e6e;
    padding-bottom: 5%;
    width: 200px;
}

hr.subtitle-divider {
    border-top: 3px solid #6e6e6e;
    color: #6e6e6e;
    padding-bottom: 5%;
    width: 164px;
}

div.title-banner {
    background-color: #d8585c;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

.subtitle {
    padding: 5% 0 1% 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.bg-image {
    width: 100%;
}

.tleft {
    text-align: left;
}

.gf-button {
    background-color: #d8585c;
    border: none;
    color: white;
    padding: 10px 20px;
    letter-spacing: 2px;
}

/*=============================================================================
    INTRO SECTION
=============================================================================*/
section.intro p {
    display: inline;
}

p.intro-text-italic {
    font-style: italic;
    font-size: 27px;
}

p.intro-text {
    font-size: 27px;
}

p.intro-text-bold {
    font-size: 27px;
    font-weight: bold;
}

div.small-logo {
    text-align: center;
    padding: 40px;
}

div.small-logo img {
    width: 100%;
}

/*=============================================================================
    SKILLS SECTION
=============================================================================*/

section.skills {
    background-color: #f7f7f7;
}

/*=============================================================================
    WORK SECTION
=============================================================================*/
section.work {
    padding: 0;
}

.work-box img {
    width: 100%;
}

.work-box:hover .overlay {
    display: block;
    opacity: 0.75;
    background: black;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.overlay {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding-top: 30%;
}

.overlay p {
    opacity: 0;
    position: relative;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    font-size: 18px;
}

.overlay:hover p {
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}


.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

/*=============================================================================
    TEAM SECTION
=============================================================================*/
section.team {
    background-color: #dedede;
}

hr.profile-divider {
    border-top: 3px solid #6e6e6e;
    color: #6e6e6e;
    padding-bottom: 0%;
    width: 100px;
}

/*=============================================================================
    CONTACT SECTION
=============================================================================*/
section.contact {
    background-color: #d1d1d1;
}

.gf-form {
    background-color: #cccccc;
    border: none;
    border-bottom: 1px solid #b0b0b0;
    padding: 10px 20px;
    width: 100%;
}

.gf-form:last-child {
    border: none;
}

.contact-info {
    font-size: 13px;
    line-height: 8px;
}

.contact-error {
    color: #d8585c;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

